*{
  margin: 0;
  padding: 0
}
body {
  color: #747474;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 300;
}
h2 {
  font-size: 15px;
  font-weight: 400;
}

/* Introduction paragraph component*/
.intro-p {
  width:500px;
}
.intro-p p {
  line-height: 1.75;
  font-weight: 400;
}
.p-container {
    display: flex;
    justify-content: space-between;
    width:80vw;
}
/*  Introduction component*/
.intro-doc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 270px;
  padding: 75px 0px 100px
}
.intro-doc h1{
  color: #00b39b;
}